.product-card-details {
  width: 15%;
  max-width: 15vw;
  height: 10%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  flex: wrap;
  justify-content: center;
  /* outline: 3px solid red; */
  background-color: #ff6347;
  background-image: linear-gradient(43deg, #ff6347 1%, #f5f5dc 79%);
  border-radius: 3%;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  padding: 3px;
  margin: auto
}

.product-image-details {
  max-height: 80vh;
  height: auto;
  max-width: 100%;
  width: auto;
  border-radius: 3%;
  display: flex;
  justify-content: center;
}
p {
  display: flex;
  justify-content: space-evenly;
  font-family: Gilroy;
}

.add-sub-btns {
  display: flex;
  justify-content: space-around;
}
.material-icons {
}

@font-face {
  font-family: Gilroy;
  src: url("src/assets/Circular Font Family/Gilroy-Medium.ttf");
}
